*{
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    padding-left: 1rem;
    color: white;
}

nav a {
    text-decoration: none;
    color: #0d47a1
}
.navbar{
    width: 100%;
    height: 75px;
    box-shadow: 5px 5px 10px #1b1b1b;
    margin-bottom: 20px;
}
body{
    font-family: 'Poppins', sans-serif;
    background-image: url("../img/burgerImg2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container{
    width :100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
}

h1 , #welcome{
    color: whitesmoke;
    margin: 10px;
}

h2 {
    color: whitesmoke;
    margin: 50px 0 1%;
}

.item-form{
    margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 100px;
}
.customer-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    margin: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("./img/burgerImg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    border: none;
    border-radius: 20px;
    color: white;
    box-shadow: 10px 5px 20px #201f1f;
}

h3{
    color: rgb(221, 238, 215);
}

.item{
    margin: 10px;
    width: 100%;
}

label{
    font-size: 20px;
    margin: 5px;
}

input , select{
    width: 90%;
    height: 30px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    margin: 5px;
}

button{
    width: 95%;
    height: 40px;
    font-size: 20px;
    background-color: #118c16;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #319b36;
}

.btn-item{
    width: 60px;
    height: 30px;
    font-size: medium;
    margin: 5px;
}

#delete{
    background-color: #ab0b00;
}

#foods{
    display: flex;
    flex-direction: column;
}

.food-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

#burgers , #submarines , #fries , #pasta , #chicken , #beverages{
    display: flex;
    flex-wrap: wrap;
}

.food{

    width: 180px;
    height: 320px;
    background-color: rgb(189, 189, 189);
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #1b1b1b;
}

.itemDetailsdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 150px;
    height: auto;
    background-color: #938d8d;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 5px 5px 10px #1b1b1b;
}
.addToCartBtn{
   margin-top: 5px;
   width: 150px;
   height: 30px;
   font-size: medium;
   box-shadow: 5px 5px 10px #1b1b1b;
}

#imgItem{
    width: 180px;
    height: 120px;
}

#detail{
    margin: 3px;
    font-size: 14px;
    font-weight:bold;
}

#name-detail{
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
}

img{
    width: 20px;
    height: 20px;
    margin: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
}


li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    color: antiquewhite;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 10px;
}

li a:hover {
    background-color: #9f9595;
}

table{
 margin: 20px;
 width: 75%;
 display: flex;
 align-items: center;
 justify-content: center;
 color: azure;
border-radius: 20px;
background: #515050;
box-shadow: 5px 5px 10px #1b1b1b;
}

th{
    padding: 10px;
}

td {
    padding: 2px;
}

.food-items-form {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    /* align items to the top inside the form */
}

.cart {
    border-radius: 20px;
    padding: 15px;
    margin-top: 20px;
    background-color: #979393;
    width: 300px;
    box-shadow: 5px 5px 10px #1b1b1b;
    position: fixed;
    top: 100px;
    right: 20px;
    z-index: 100;
}

.cart .itemName {
    font-weight: bold;
}

.cart .itemPrice {
    color: rgb(25, 75, 25);
}

.my-cart-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#total-price {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
}